:root { font-size: 1.125rem; }
@media (min-width: 320px) { 
  :root { font-size: 1.5rem; }
  input[type=text]{
    width: 53%;
    margin-bottom: 15px;
  } 
}
@media (min-width: 600px) { 
  :root { font-size: 1.5rem; }
  input[type=text]{
    width: 75%;  
  margin-bottom: 15px;
  } 
}
@media (min-width: 900px) { :root { font-size: 1.75rem; }

input[type=text]{
  width: 75%;  
  margin-bottom: 15px;
} 
}
@media (min-width: 1200px) { :root { font-size: 2rem; }
input[type=text]{
  width: 75%;  
  margin-bottom: 20px; /* ad */
} 

}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FFF;
}
.messagebox {
  background-color: #1877f2;
  min-width: 100vw;
  min-height: 7vh;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 25%);
  text-align: center;
  padding: 10px;
  color: #FFF;
}
.messageboxtext {
  margin-top: auto;
}
.messages {
  width: 100vw;
  height: 84vh;
  padding: 20px 10px;
	overflow-y: auto; 
}
.textbox {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #1877f2;
  min-width: 100vw;
  min-height: 7vh;
}
input[type=text]{
  position: relative;
  padding: 10px;
  border: none;
  border-radius: 15px;
}
.i-send{
  position: relative;
  top: 3px;
  left: -45px;
  color: #8233C5;
}
.i-icons{
  margin: 15px 5px 0 5px;
}
.bubble {
  overflow: hidden;
  display: inline-block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  line-height: 1.25rem;
  border-radius: 1.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s;
}
.bubble.left.cornered {
  border-bottom-left-radius: 0;
}
.bubble.left {
  background: rgba(206,206,206,0.50);
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -.5rem;
  width: .5rem;
  height: .5rem;
  background-image: url(../img/corner.svg);
  background-size: .5rem .5rem;
  background-position: .5rem 0;
  background-repeat: no-repeat;
  transition: background-position .15s ease-in;
}
.bubble.cornered:after {
  background-position: 0 0;
}
.bubble span {
  display: block;
}
.bubble span.message {
  opacity: 0;
}
.bubble a {
  color: #0076FF;
}
.bubble .loading {
  position: absolute;
  width: 2.25rem;
  font-size: 2rem;
  line-height: 1rem;
}
.bubble .loading b {
  display: inline-block;
  color: rgba(0,0,0,.5);
}
